*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      45deg,
      rgb(255, 0, 221),
      rgb(20, 173, 233),
      rgb(255, 0, 34)
    );
    padding: 10px;
  }
  #todo {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 5vh auto;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
  }

  #todo h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 85);
    margin-bottom: 20px;
  }
  #todo h2 img {
    margin-left: 10px;
    width: 30px;
  }
  #input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0edef;
    border-radius: 30px;
    margin-bottom: 25px;
  }
  input {
    width: 100%;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  padding-left: 10px;
  font-size: 20px;
}
.btn {
    border: none;
    outline: none;
    padding: 8px 15px;
    background-color: rgb(126, 17, 108);
    color: white;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
  }
  .search{
    display:none;
  }
  #status-container {
    width: 100%;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 0, 128);
    font-weight: 550;
    
  }